@using Microsoft.AspNetCore.Identity
@using Sophophile.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello, @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link"><a><i class="fa fa-sign-out" aria-hidden="true"></i>
 Log Out</a></button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/account/register"><i class="fa fa-user" aria-hidden="true"></i> Register</a>
            </li>
            <li>
                <a href="/account/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            </li>
        </ul>
}
