@model string


<!-- Header -->
<header class="intro-header" style="background-image: url('/dist/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    @if (Model != null)
                    {
                        <h1>@Model</h1>
                    }
                    else
                    {
                        <h1>Thoughtwave</h1>
                    }
                </div>
            </div>
        </div>
    </div>
</header>
