<div class="container">
    <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
            <form asp-controller="Articles" asp-action="Search" method="GET">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <div class="btn-group"> 
                            <button type="button" class="btn-search btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span id="search_category">Search by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#Technology">Technology</a>
                                </li>
                                <li>
                                    <a href="#Politics">Politics</a>
                                </li>
                                <li>
                                    <a href="#World">World</a>
                                </li>
                                <li>
                                    <a href="#Film">Film</a>
                                </li>
                                <li>
                                    <a href="#Music">Music</a>
                                </li>
                                <li>
                                    <a href="#Personal">Personal</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#all">All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="c" value="all" id="category">         
                    <input type="text" class="form-control" name="q" placeholder="Search by Title, Author, or Keyword">
                    <div class="input-group-btn">
                        <div class="btn-group">                  
                            <button class="btn-search btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
	</div>
</div>