<div class="container">
	<div class="row">
		<div class="col-md-12">
            <form asp-controller="Articles" asp-action="Search" method="GET" class="input-group" id="adv-search">
                <input type="text" name="title" class="form-control" placeholder="Search for Thoughts.." />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn-search dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right form-horizontal" role="menu">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="author" placeholder="Author Name"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="username" placeholder="Author Username"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="contains" placeholder="Contains"/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-search btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>
          </div>
        </div>
	</div>
</div>