@await Html.PartialAsync("_PageHeader")

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center text-danger">You are not authorized to view this page!</h1>
        </div>
    </div>
</div>