@model IEnumerable<Article>

@{
    ViewData["Title"] = ViewBag.Category + " Articles";
}

@await Html.PartialAsync("_PageHeader")

<!-- Page Content -->
<h1 class="text-center">@ViewBag.Category Articles</h1>
<hr class="large"/>

<h4 class="text-muted">@ViewBag.Message</h4>

@foreach (var article in Model)
{
    @await Html.PartialAsync("_ArticlePreview", article)
}

