@model IEnumerable<Article>

@{
    ViewData["Title"] = ViewBag.Category + " Articles";
}

@await Html.PartialAsync("_PageHeader")

<!-- Page Content -->
<div class="text-center">
    <h1>@ViewBag.Category Articles</h1>
    <hr class="large"/>

    <h3 class="text-muted">@ViewBag.Message</h3>
</div>

@foreach (var article in Model)
{
    @await Html.PartialAsync("_ArticlePreview", article)
}

