@model IndexViewModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Manage your account";
}

<h1>@ViewData["Title"].</h1>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                <h1>Hello @await UserManager.GetUserAsync(User)!</h1>
                <h3>Manage Your Account</h3>

                <p class="text-success" id="flash-message">@ViewData["StatusMessage"]</p>

                <p>
                    <a asp-controller="Users" asp-action="Details" 
                        asp-route-username="@await UserManager.GetUserAsync(User)" 
                        class="btn btn-default">View Profile</a>
                </p>

                <p><a asp-controller="Manage" asp-action="Profile" class="btn btn-default">Edit Profile</a></p>

                @if (Model.HasPassword)
                {
                    <p><a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default">Change Your Password</a></p>
                }
                else
                {
                    <p><a asp-controller="Manage" asp-action="SetPassword" class="btn btn-default">Create A Password</a></p>
                }

                @if (Model.Logins.Count > 0)
                {
                    <p><a asp-controller="Manage" asp-action="ManageLogins" class="btn btn-default">Manage External Logins</a></p>
                }

                <p><a asp-controller="Thoughts" asp-action="Create" class="btn btn-default">Create a New Thought</a></p>

                <p><a asp-controller="Thoughts" asp-action="Manage" class="btn btn-default">Manage Thoughts</a></p>

            </div>
        </div>
    </div>
</div>
