@model IndexViewModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center">
                <h1>Hello @await UserManager.GetUserAsync(User)!</h1>
                <h3>Manage Your Account</h3>

                @if (Model.HasPassword)
                {
                    <p><a asp-controller="Manage" asp-action="ChangePassword" class="btn btn-default">Change Your Password</a></p>
                }
                else
                {
                    <p><a asp-controller="Manage" asp-action="SetPassword" class="btn btn-default">Create A Password</a></p>
                }

                @if (Model.Logins.Count > 0)
                {
                    <p><a asp-controller="Manage" asp-action="ManageLogins" class="btn btn-default">Manage External Logins</a></p>
                }

                <p><a asp-controller="Thoughts" asp-action="Create" class="btn btn-default">Create a New Thought</a></p>

                <p><a asp-controller="Thoughts" asp-action="Manage" class="btn btn-default">Manage Thoughts</a></p>

            </div>
        </div>
    </div>
</div>
