@model CreateThoughtViewModel

@{
    ViewBag.Title = "Create a New Thought";
}

@await Html.PartialAsync("_PageHeader")

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">    
            <h1 class="text-center">What are you thinking today?</h1>
            <hr class="large"/>
            <form asp-controller="Thoughts" asp-action="Create" method="post" asp-antiforgery="true">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">                
                    <label asp-for="Category"></label>
                    <select asp-for="Category" asp-items="@Html.GetEnumSelectList(typeof(Category))" class="form-control">
                    </select>
                    <span asp-validation-for="Category"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label><br />
                    <textarea asp-for="Content" class="form-control" id="editor" rows="10"></textarea>
                    <span asp-validation-for="Content"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox pull-left">
                        <label asp-for="DisableComments">
                            <input asp-for="DisableComments" />
                            @Html.DisplayNameFor(m => m.DisableComments)
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right">Create Thought</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
     <!-- TinyMCE Editor Setup-->
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
    tinymce.init({
        selector: '#editor',
        height: 500,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code'
        ],
        toolbar: 'insertfile undo redo | styleselect  bold italic | alignleft aligncenter alignright alignjustify | bullist numlist        outdent indent | link image | sizeselect | fontselect |  fontsizeselect',
        theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px",
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt"
    });
    </script>
}