@model IEnumerable<Article>

@{
    ViewData["Title"] = "Home";
}

<!-- Home Page Header -->
<header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Thoughtwave</h1>
                    <h3>Spread your Thoughts on the Wave</h3>
                    <hr class="large">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="/account/login" class="btn btn-success btn-intro-header ">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In
                        </a>
                        <a href="/account/register" class="btn btn-primary btn-intro-header ">
                            <i class="fa fa-user" aria-hidden="true"></i> Sign up
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for Thoughts.." />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn-search btn-primary">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>
</div>

<h1 class="text-center">Latest Articles</h1>
<hr class="large"/>

@foreach (var article in Model)
{
    @await Html.PartialAsync("_ArticlePreview", article)
}

