@model HomePageViewModel

@{
    ViewData["Title"] = "Home";
}

<!-- Home Page Header -->
<header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Thoughtwave</h1>
                    <h3>Spread your Thoughts on the Wave</h3>
                    <hr class="large">
                    <a href="/account/login" class="btn btn-success btn-intro-header ">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In
                    </a>
                    <a href="/account/register" class="btn btn-primary btn-intro-header ">
                        <i class="fa fa-user" aria-hidden="true"></i> Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<h1 class="text-center">Latest Articles</h1>
<hr class="large"/>

@foreach (var Article in Model.Articles)
{
    @await Html.PartialAsync("_ArticlePreview", Article)
}

