@{
    ViewData["Title"] = "Home Page";
}

<!-- Home Page Header -->
<header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Sophophile</h1>
                    <hr class="large">
                    <a href="/account/login" class="btn btn-success btn-intro-header ">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In
                    </a>
                    <a href="/account/register" class="btn btn-primary btn-intro-header ">
                        <i class="fa fa-user" aria-hidden="true"></i> Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<h1 class="text-center">Latest Questions</h1>
<hr class="large"/>
<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div class="well well-lg clearfix">
                        <a target="_blank" href="/read">
                            <h1 class="section-heading text-center">How Can I Do Things</h1>
                        </a>
                        <img alt="User Image" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" class="pull-left user-img img-circle">
                        <p class="text-muted">
                            Posted by <a href="#">Generic User</a> on September 18, 2001 in 
                            <a href="/browse/<%=post.category%>">Technology</a>
                        </p>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                        </p>
                        <hr />
                        <a href="/read" class="btn pull-right">
                            See Answers <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div class="well well-lg clearfix">
                        <a target="_blank" href="/read">
                            <h1 class="section-heading text-center">How Can I Do Things</h1>
                        </a>
                        <img alt="User Image" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" class="pull-left user-img img-circle">
                        <p class="text-muted">
                            Posted by <a href="#">Generic User</a> on September 18, 2001 in 
                            <a href="/browse/<%=post.category%>">Technology</a>
                        </p>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                        </p>
                        <hr />
                        <a href="/read" class="btn pull-right">
                            See Answers <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <div class="well well-lg clearfix">
                        <a target="_blank" href="/read">
                            <h1 class="section-heading text-center">How Can I Do Things</h1>
                        </a>
                        <img alt="User Image" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" class="pull-left user-img img-circle">
                        <p class="text-muted">
                            Posted by <a href="#">Generic User</a> on September 18, 2001 in 
                            <a href="/browse/<%=post.category%>">Technology</a>
                        </p>
                        <p class="lead">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                        </p>
                        <hr />
                        <a href="/read" class="btn pull-right">
                            See Answers <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
