@model IEnumerable<ThoughtViewModel>

@{
    ViewData["Title"] = "Home";
}

<!-- Home Page Header -->
<header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Thoughtwave</h1>
                    <h3>Spread your Thoughts on the Wave</h3>
                    <hr class="large">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="#" data-toggle="modal" data-target="#loginModal" class="btn btn-primary btn-intro-header ">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In
                        </a>
                        <a href="#" data-toggle="modal" data-target="#registerModal" class="btn btn-success btn-intro-header ">
                            <i class="fa fa-user" aria-hidden="true"></i> Sign up
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

@await Html.PartialAsync("_SearchPartial")

<hr class="large"/>

<div class="text-center">
    <h1>Latest Thoughts</h1>
    <hr class="large"/>

    <h3 class="text-center">@ViewBag.Message</h3>
</div>

@foreach (var thought in Model)
{
    @await Html.PartialAsync("_ThoughtPreview", thought)
}

@await Html.PartialAsync("_LoginModal", new LoginViewModel())

@await Html.PartialAsync("_RegisterModal", new RegisterViewModel())

