<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Glendon Cheney" />
    <meta name="description" content="A place to share your thoughts with the world" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>@ViewData["Title"] - Thoughtwave</title>

     <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <!-- stylesheets -->
    <environment names="Development">
        <link rel="stylesheet" href="~/dist/css/bundle.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/css/bundle.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <!-- /stylesheets -->

    <!-- favicon -->
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Thoughtwave</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a asp-action="Index" asp-controller="Thoughts">All</a>
                    </li>
                    <li>
                        <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="Technology">Tech</a>
                    </li>
                    <li>
                        <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="Politics">Politics</a>
                    </li>
                    <li>
                        <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="World">World</a>
                    </li>
                    <li>
                        <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="Film">Film</a>
                    </li>
                    <li>
                        <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="Music">Music</a>
                    </li>
                    <li>
                        <a asp-action="CategoryIndex" asp-controller="Thoughts" asp-route-categoryId="Personal">Personal</a>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="content">
        @RenderBody()
        
        <!-- navbar-search -->
        <div id="search">
            <button type="button" class="close">×</button>
            <form asp-controller="Thoughts" asp-action="Search" method="GET">
                <input type="search" name="q" value="" placeholder="Search by Title" />
                <button type="submit" class="btn btn-primary">Search <i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <!-- /.navbar-search -->

        <hr />

        <footer class="footer">
            <div class="container">
                <div class="row">
                        <p class="copyright text-muted">
                            Copyright &copy;2016 <a href="https://glendoncheney.com" target="_blank">Glendon Cheney</a>
                        </p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.content -->

    <!-- scripts -->
    <environment names="Development">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/js/bundle.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
    <!-- /scripts -->

</body>
</html>
