@model int

@{
    switch (Model)
    {
        case 400:
            ViewData["Icon"] = "fa fa-ban text-danger";
            ViewData["Title"] = "400 - Bad Request";
            ViewData["Description"] = "A request was sent to the server that could not be processed.";
            break;
        case 401:
            ViewData["Icon"] = "fa fa-ban text-danger";
            ViewData["Title"] = "401 - Unauthorized";
            ViewData["Description"] = "Sorry, but this page requires you to log in.";
        break;
        case 403:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "403 - Forbidden";
            ViewData["Description"] = "Sorry, but you don't have permission to access this page.";
        break;
        case 404:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "404 - Page Not Found";
            ViewData["Description"] = "Sorry, but the page you were looking for can't be found.";
            break;
        case 500:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "500 - Internal Server Error";
            ViewData["Description"] = "An error occurred on the server";
            break;
        default:
            ViewData["Icon"] = "fa fa-exclamation-circle text-danger";
            ViewData["Title"] = "Unexpected Error";
            ViewData["Description"] = "Well, this is embarrassing. An error occurred while processing your request.";
            break;
    }
}

@await Html.PartialAsync("_PageHeader", (string)@ViewData["Title"])

<div class="jumbotron text-center">
    <header>
        <h1>
            <i aria-hidden="true" class="@ViewData["Icon"]"></i> @ViewData["Title"]
        </h1>
    </header>
    <p>@ViewData["Description"]</p>
    <a class="btn btn-primary btn-lg" href="/">
        <i aria-hidden="true" class="fa fa-home"></i> Go Home
    </a>
</div>
